# registry=https://repo.huaweicloud.com/repository/npm/
# ELECTRON_MIRROR=https://mirrors.huaweicloud.com/electron/
electron_mirror=https://npmmirror.com/mirrors/electron/
auto-install-peers=true
